name: "Deliver Resources to S3"

# Trigger when commits are pushed to the master branch
on:
  push:
    branch:
      - master

env:

  AWS_DEFAULT_REGION: us-east-1
  AWS_DEFAULT_OUTPUT: json
  AWS_BUCKET: ${{ secrets.AWS_BUCKET}}
  AWS_ACCESS_KEY_ID: ${{ secrets.DELIVER_AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.DELIVER_AWS_SECRET_ACCESS_KEY }}

jobs:

  cfn-deliver:
    #if: github.ref == 'refs/heads/master'
    name: Deliver CloudFormation
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{env.AWS_DEFAULT_REGION}}
    - name: Sync to S3
      id: sync-s3
      run: |
        aws s3 sync cloudformation s3://${{ env.AWS_BUCKET }}/cloudformation --region ${{ env.AWS_DEFAULT_REGION }}

  tf-deliver:
    #if: github.ref == 'refs/heads/master'
    name: Deliver Terraform
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{env.AWS_DEFAULT_REGION}}
    - name: Sync to S3
      id: sync-s3
      run: |
        aws s3 sync terraform s3://${{ env.AWS_BUCKET }}/terraform --region ${{ env.AWS_DEFAULT_REGION }}